[submodule "sisinfo-odoo/l10n_uy_extras"]
	path = sisinfo-odoo/l10n_uy_extras
	url = git@github.com:sisinfo-odoo/l10n_uy_extras.git
	branch = 13.0

[submodule "sisinfo-odoo/multimoneda"]
	path = sisinfo-odoo/multimoneda
	url = git@github.com:sisinfo-odoo/multimoneda.git
	branch = 13.0

[submodule "sisinfo-odoo/popup_message"]
	path = sisinfo-odoo/popup_message
	url = git@github.com:sisinfo-odoo/popup_message.git
	branch = 13.0

[submodule "sisinfo-odoo/electronic_invoice"]
	path = sisinfo-odoo/electronic_invoice
	url = git@github.com:sisinfo-odoo/electronic_invoice.git
	branch = 13.0

[submodule "ingadhoc/aeroo_reports"]
	path = ingadhoc/aeroo_reports
	url = git@github.com:ingadhoc/aeroo_reports.git
	branch = 13.0
