[submodule "sisinfo-odoo/l10n_uy_extras"]
	path = sisinfo-odoo/l10n_uy_extras
	url = git@github.com:sisinfo-odoo/l10n_uy_extras.git
	branch = 13.0

[submodule "sisinfo-odoo/multimoneda"]
	path = sisinfo-odoo/multimoneda
	url = git@github.com:sisinfo-odoo/multimoneda.git
	branch = 13.0

[submodule "sisinfo-odoo/popup_message"]
	path = sisinfo-odoo/popup_message
	url = git@github.com:sisinfo-odoo/popup_message.git
	branch = 13.0

[submodule "sisinfo-odoo/electronic_invoice"]
	path = sisinfo-odoo/electronic_invoice
	url = git@github.com:sisinfo-odoo/electronic_invoice.git
	branch = 13.0

[submodule "ingadhoc/aeroo_reports"]
	path = ingadhoc/aeroo_reports
	url = git@github.com:ingadhoc/aeroo_reports.git
	branch = 13.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 13.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 13.0

[submodule "sisinfo-odoo/carpeta_importaciones_req"]
	path = sisinfo-odoo/carpeta_importaciones_req
	url = git@github.com:sisinfo-odoo/carpeta_importaciones_req.git
	branch = 13.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0

[submodule "sisinfo-odoo/account_check_custom"]
	path = sisinfo-odoo/account_check_custom
	url = git@github.com:sisinfo-odoo/account_check_custom.git
	branch = 13.0

[submodule "sisinfo-odoo/formularios_dgi"]
	path = sisinfo-odoo/formularios_dgi
	url = git@github.com:sisinfo-odoo/formularios_dgi.git
	branch = 13.0
